<h1>Meditation</h1>
<p>Coming Soon!</p>
<br>
<!--<form [formGroup]="meditateForm" (ngSubmit)="submit()">
  <md-radio-group formControlName="audioType">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/rain.svg" alt="">
          <md-radio-button value="rain">Rain</md-radio-button>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/ocean.svg" alt="">
          <md-radio-button value="ocean">Ocean</md-radio-button>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/outdoors.svg" alt="">
          <md-radio-button value="outdoors">Outdoors</md-radio-button>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/white-noise.svg" alt="">
          <md-radio-button value="whiteNoise">White Noise</md-radio-button>
        </div>
      </div>
    </div>
  </md-radio-group>

  <br>

  <div class="timer">
    <md-select formControlName="time" placeholder="Time">
      <md-option [value]="5">5 mins</md-option>
      <md-option [value]="10">10 mins</md-option>
      <md-option [value]="15">15 mins</md-option>
      <md-option [value]="20">20 mins</md-option>
      <md-option [value]="30">30 mins</md-option>
      <md-option [value]="45">45 mins</md-option>
      <md-option [value]="60">60 mins</md-option>
    </md-select>
    &nbsp;&nbsp;
    <button md-raised-button color="primary"><md-icon>play_arrow</md-icon> Start</button>
  </div>
</form>-->