.meditate {
  padding: 6px;
  text-align: center;

  img {
    max-width: 190px;
    width: 100%;
    margin: 0 auto 24px auto;
    display: block;
  }

  button {
    margin: 0 auto;
    display: block;
  }
}

.timer {
  max-width: 230px;
  margin: 36px auto;
}
