<h1>Meditation &amp; Background Noise</h1>

<br>
<form [formGroup]="meditateForm" (ngSubmit)="submit()">
  <mat-radio-group formControlName="audioType">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/rain.svg" alt="">
          <mat-radio-button value="rain">Rain</mat-radio-button>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/ocean.svg" alt="">
          <mat-radio-button value="ocean">Ocean</mat-radio-button>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/outdoors.svg" alt="">
          <mat-radio-button value="outdoors">Outdoors</mat-radio-button>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
        <div class="meditate">
          <img src="assets/images/meditate/white-noise.svg" alt="">
          <mat-radio-button value="whiteNoise">White Noise</mat-radio-button>
        </div>
      </div>
    </div>
  </mat-radio-group>

  <br>

  <div class="timer">
    <!-- <mat-select formControlName="time" placeholder="Time">
      <mat-option [value]="5">5 mins</mat-option>
      <mat-option [value]="10">10 mins</mat-option>
      <mat-option [value]="15">15 mins</mat-option>
      <mat-option [value]="20">20 mins</mat-option>
      <mat-option [value]="30">30 mins</mat-option>
      <mat-option [value]="45">45 mins</mat-option>
      <mat-option [value]="60">60 mins</mat-option>
    </mat-select>
    &nbsp;&nbsp; -->
    <button *ngIf="!(sound | async)" mat-raised-button color="primary">
      <mat-icon>play_arrow</mat-icon> Play
      <div *ngIf="sound | async"><mat-icon>pause_arrow</mat-icon> Pause</div>
    </button>
    <button *ngIf="sound | async" mat-raised-button color="primary">
      <mat-icon>pause_arrow</mat-icon> Pause
    </button>
  </div>
</form>