<h1>About</h1>

<p>
	Focusing Tools is a time management application based on the 
	<a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Pomodoro Technique</a> guidelines. 
  Taking 25 minuites of focused distraction free time with 5 minuite breaks in between can
  greatly increase productivity.
</p>

<small>
  This application is not affiliated, associated
	or endorsed by the Pomodoro Technique® or Francesco Cirillo.
</small>
<br>
<small>
  Focus Tools is in Alpha and is subject to down time and or lost history.
</small>

<span class="app-action">
  <a routerLink="/" md-fab color="primary"><md-icon>play_arrow</md-icon></a>
</span>