<h1>About</h1>

<p>
  Focusing Tools is a time management application. The Focus Timer based on the
  <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Pomodoro Technique</a> guidelines. Taking 25
  minuites of focused distraction free time with 5 minuite breaks in between can greatly increase productivity.
</p>

<p>
  Built by <a href="https://coryrylan.com">Cory Rylan</a>. Focus Tools is in Alpha and is subject to down time and or lost
  history.
</p>

<small>
  Audio provided by <a href="https://www.freesound.org">freesound.org</a>. <br>
  Icons provided by Google Material and <a href="http://www.flaticon.com/">flaticon.com</a> <br>
  This application is not affiliated, associated
  or endorsed by the Pomodoro Technique® or Francesco Cirillo. <br>
</small>

<span class="app-action">
  <a routerLink="/" md-fab color="primary"><md-icon>play_arrow</md-icon></a>
</span>