
.mat-sidenav-container, .mat-sidenav-content {
  height: initial;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden !important;
}

.scroll {
  overflow-y: auto;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;

  @media (min-width: 960px) {
    right: 224px;
  }
}

button, a {
  cursor: pointer;
}

main {
  padding: 70px 12px 12px 12px;

  @media (min-width: 580px) {
    padding-top: 90px;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.link-light {
  color: $color-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;


  @media (min-width: 960px) {
    right: 248px;
  }
}

.container {
  max-width: 980px;
  margin: 0 auto;
}