body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

button, a {
  cursor: pointer;
}

app-root, main, md-sidenav-container {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 100vh;
  min-height: calc(100vh - 85px); // extra for fab

  @media (min-width: 580px) {
    min-height: calc(100vh - 110px);
  }
}

main {
  padding: 70px 12px 12px 12px;

  @media (min-width: 580px) {
    padding-top: 90px;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.link-light {
  color: $color-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;


  @media (min-width: 960px) {
    right: 248px;
  }
}

.container {
  max-width: 980px;
  margin: 0 auto;
}