$large-timer-brakepoint: 420px;

.focus-timer {
	text-align: center;
	margin: 0 -8px;
		
	&__time {
		font-size: 6em;
		text-align: center;
		margin: 18px 0;
		
		@media (min-width: $large-timer-brakepoint) {
			font-size: 8em;
			margin: 36px 0;
		}
	}
	
	.btn .fa {
		display: none;
	}
}

@media (min-width: $large-timer-brakepoint) {	
	.focus-timer .btn .fa {
		display: inline-block;
	}
}

@media (max-width: $large-timer-brakepoint) {		
	.focus-timer .btn {
		padding: 12px 10px;
		width: 29.33%;
	}
} 

@media (min-width: 530px) {		
	.focus-timer .btn {
		font-size: 1.3em;
		padding: 14px 24px;
	}
} 