<md-sidenav-container>
  <md-sidenav #sidenav class="nav-list">
    <a routerLink="/" class="nav-list__item" (click)="sidenav.close()">Home</a>
    <a routerLink="history" class="nav-list__item" (click)="sidenav.close()">History</a>
    <a routerLink="about" class="nav-list__item" (click)="sidenav.close()">About</a>
    <a routerLink="login" *ngIf="!(isLoggedIn | async)" class="nav-list__item" (click)="sidenav.close()">Login</a>
    <button (click)="logout(); sidenav.close();" *ngIf="isLoggedIn | async" class="nav-list__item">
      <img [src]="profileImg | async" placeholder="Profile Image" class="nav-list__item-image" /> Logout
    </button>
  </md-sidenav>

  <header>
    <md-toolbar fxLayout="column" color="primary" class="mat-elevation-z6">
      <a routerLink="/" class="link-light">NG-Focus</a>

      <button md-button fxFlex="60px" fxHide="false" fxHide.gt-sm (click)="sidenav.open()" class="float-right menu-btn">
        <md-icon>menu</md-icon>
      </button>

      <div fxFlex="60px" fxShow="false" fxShow.gt-sm class="menu-btn">
        <md-menu #appMenu="mdMenu" class="nav-list-large">
          <a md-menu-item routerLink="/" (click)="sidenav.close()" class="nav-list-large__item">Home</a>
          <a md-menu-item routerLink="history" (click)="sidenav.close()" class="nav-list-large__item">History</a>
          <a md-menu-item routerLink="about" (click)="sidenav.close()" class="nav-list-large__item">About</a>
          <a md-menu-item routerLink="login" *ngIf="!(isLoggedIn | async)" (click)="sidenav.close()" class="nav-list-large__item">Login</a>
          <button md-menu-item (click)="logout(); sidenav.close();" *ngIf="isLoggedIn | async" class="nav-list-large__item">
            <img [src]="profileImg | async" placeholder="Profile Image" class="nav-list-large__item__image" /> Logout
          </button>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>more_vert</md-icon>
        </button>
      </div>
    </md-toolbar>
  </header>
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer></footer>
</md-sidenav-container>