<header class="app-header">
  <div class="container" [class.open-nav]="navOpen">
    <!-- Mobile Nav -->
    <div class="menu-overlay" (click)="navOpen = !navOpen"></div>
    <button class="menu-btn" (click)="navOpen = !navOpen"><i class="fa fa-bars"></i></button>
    <nav class="nav" (click)="navOpen = !navOpen">
      <a [routerLink]="['./']" class="nav__link">Focus</a>
      <a [routerLink]="['./stats']" class="nav__link">Stats</a>
      <a [routerLink]="['./about']" class="nav__link">About</a>

      <div class="logout-group">
        <button (click)="logout()" *ngIf="authUser" class="logout-group__link">Logout</button>
        <a [routerLink]="['./stats']" *ngIf="!authUser" class="logout-group__link">Login</a>
        <app-focus-user-image [authUser]="authUser" class="logout-group__image"></app-focus-user-image>
      </div>
    </nav>

    <!-- Large Nav -->
    <a [routerLink]="['./']">
      <h1 class="logo">Focus</h1>
    </a>
    <nav class="large-nav">
      <a [routerLink]="['./stats']" class="large-nav__link">Stats</a>
      <a [routerLink]="['./about']" class="large-nav__link">About</a>

      <div class="logout-group">
        <button (click)="logout()" *ngIf="authUser" class="logout-group__link">Logout</button>
        <a [routerLink]="['./stats']" *ngIf="!authUser" class="logout-group__link">Login</a>
        <app-focus-user-image [authUser]="authUser" class="logout-group__image"></app-focus-user-image>
      </div>
    </nav>
  </div>
</header>

<div class="container">
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>