@import './../styles/_variables';

header {
  mat-toolbar {
    flex-direction: row;
  }
}

.menu-btn, .menu-btn--right {
  min-width: 32px;
  padding: 4px;
  margin-right: 14px;
}

.menu-btn--right {
  margin-left: auto;
}

.side-nav-logo {
  overflow: auto;
  padding: 13px;
  border-bottom: 1px solid $color-grey;

  &__img {
    max-width: 38px;
    margin-right: 8px;
    width: 100%;
    margin-bottom: 0;
    float: left;
  }

  &__name {
    margin-top: 8px;
    display: block;
    float: left;
  }
}

