<md-sidenav-container>
  <md-sidenav #sidenav class="nav-list">
    <div class="side-nav-logo">
      <img src="assets/images/icon.svg" alt="Focus Tools" class="side-nav-logo__img" />
      <span class="side-nav-logo__name">Focusing Tools</span>
    </div>
    <a routerLink="/" class="nav-list__item" (click)="closeNav()">Focus Timer</a>
    <a routerLink="meditate" class="nav-list__item" (click)="closeNav()">Meditate</a>
    <a routerLink="history" class="nav-list__item" (click)="closeNav()">History</a>
    <a routerLink="settings" fxShow="true" fxHide.gt-sm class="nav-list__item" (click)="closeNav()">Settings</a>
    <a routerLink="about" fxShow="true" fxHide.gt-sm class="nav-list__item" (click)="closeNav()">About</a>
    <a routerLink="login" fxShow="true" fxHide.gt-sm *ngIf="!(isLoggedIn | async)" class="nav-list__item" (click)="closeNav()">Login</a>
    <button class="nav-list__item" fxShow="true" fxHide.gt-sm (click)="share()">Share</button>
    <button fxShow="true" fxHide.gt-sm (click)="logout(); closeNav()" *ngIf="isLoggedIn | async" class="nav-list__item">
      Logout<!--<img [src]="profileImg | async" placeholder="Profile Image" class="nav-list__item-image" />-->
    </button>
  </md-sidenav>

  <header>
    <md-toolbar fxLayout="column" color="primary" class="mat-elevation-z6">
      <button aria-label="Menu" md-button fxHide="false" fxHide.gt-sm (click)="sidenav.open()" class="float-right menu-btn">
        <md-icon>menu</md-icon>
      </button>

      <a routerLink="/" fxHide="false" fxHide.gt-sm class="link-light">Focus</a>

      <div fxShow="false" fxShow.gt-sm class="menu-btn--right">
        <md-menu #appMenu="mdMenu" class="nav-list-large">
          <a md-menu-item routerLink="settings" class="nav-list-large__item" (click)="closeNav()">Settings</a>
          <a md-menu-item routerLink="about" class="nav-list-large__item" (click)="closeNav()">About</a>
          <a md-menu-item routerLink="login" *ngIf="!(isLoggedIn | async)" (click)="closeNav()" class="nav-list-large__item">Login</a>
          <button (click)="share()" md-menu-item>Share</button>
          <button md-menu-item (click)="logout(); closeNav();" *ngIf="isLoggedIn | async" class="nav-list-large__item">
            <img [src]="profileImg | async" placeholder="Profile Image" class="nav-list-large__item__image" /> Logout
          </button>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>more_vert</md-icon>
        </button>
      </div>
    </md-toolbar>
  </header>
  <div class="scroll">
    <main>
      <div class="container">
        <router-outlet></router-outlet>
        <app-carbon-ad></app-carbon-ad>
      </div>
    </main>
  </div>
  <footer></footer>
</md-sidenav-container>