<div class="time">{{currentTime | async | date: 'mm:ss'}}</div>

<div class="text-center">
  <button md-raised-button size="large" color="primary" [disabled]="(timerType | async) !== null && (timerType | async) !== 25" (click)="startStandardTimer()"><md-icon>play_arrow</md-icon> 25 Mins</button>
  <button md-raised-button [disabled]="(timerType | async) !== null && (timerType | async) !== 5" (click)="startShortBreakTimer()"><md-icon>pause</md-icon> 5 Mins</button>
  <button md-raised-button [disabled]="(timerType | async) !== null && (timerType | async) !== 15" (click)="startLongBreakTimer()"><md-icon>pause</md-icon> 15 Mins</button>
</div>

<span class="app-action">
  <button md-fab color="primary" [disabled]="(timerType | async) !== null && (timerType | async) !== 25" (click)="startStandardTimer()"><md-icon>play_arrow</md-icon></button>
</span>
