.app-header {
	background-color: $color-focus-red;
	color: $color-focus-white;
	padding: 4px 4px 8px 4px;
}

.app-main {
	padding: 15px;
}

.app-nav {
	display: inline-block;
	width: 100%;
	
	&__link {
		color: $color-focus-white;	
		background: none;
		border: 0;
		padding: 4px 10px;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}	
	}
}

.logo {
	font-weight: 100;
	font-size: 3em;
	display: inline-block;
	margin: 0;
	color: $color-focus-white;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	margin-right: 10px;
	
	&:hover {
		border-bottom: 1px solid $color-focus-white;
	}
}


.logout-group {
	display: block;
	float: right;
	padding-top: 5px;
		
	&__image {
		border-radius: 50%;
		display: block;
		float: right;
	}
	
	&__link {
		color: $color-focus-white;	
		background: none;
		border: 0;
		padding: 4px 10px;
		text-decoration: none;
		margin-top: 11px;
		float: right;
		
		&:hover {
			text-decoration: underline;
		}
	}
}