body {
	display: flex;
 	min-height: 100vh;
  	flex-direction: column;
}

focus-app {
	flex: 1;
	overflow: auto;
}

.app-header {
	background-color: $color-focus-red;
	color: $color-focus-white;
	padding: 10px 12px 10px 12px;
	position: fixed;
    left: 0;
    right: 0;
}

.app-main {
	padding: 60px 5px 15px 5px;
	
	@media (min-width: $md-break) {
		padding: 80px 15px 15px 15px;
	}
}

.logo {
	font-weight: 100;
	font-size: 1.8em;
	display: inline-block;
	margin: 0;
	color: $color-focus-white;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	margin-right: 10px;
	
	&:hover {
		border-bottom: 1px solid $color-focus-white;
	}
	
	@media (min-width: $md-break) {
		font-size: 3em;
	}
}


.logout-group {
	display: block;
	float: right;
	padding-top: 5px;
		
	&__image img {
		border-radius: 50%;
		display: block;
		float: right;
		max-width: 50px;
	}
	
	&__link {
		color: $color-focus-white;	
		background: none;
		border: 0;
		padding: 4px 10px;
		text-decoration: none;
		margin-top: 11px;
		float: right;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.app-footer {
	background-color: #F3F3F3;
	padding: 10px;
}

