$nav-break: 45em;

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    
    @media (min-width: $nav-break) {
        display: none;
    }
}

.menu-btn {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 8px;
    font-size: 1.8em;
    background: 0 0;
    border: none;

    @media (min-width: $nav-break) {
        display: none;
    }
}

.nav {
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    left: -300px;
    position: fixed;
    z-index: 3;
    background-color: $color-focus-red;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .nav__link {
        display: block;
        padding: 13px;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: 300;
        color: #fff;
        border-bottom: 1px solid darken($color-focus-red, 10%);

        &:hover, &:active, &:focus {
            background: darken($color-focus-red, 5%);
        }
    }

    .close-menu-btn {
        color: #fff;
        border: none;
        margin-bottom: 6px;
        padding: 10px;
        display: block;
        overflow: auto;
        position: absolute;
        font-size: 1.5em;
        right: 0;

        &:focus, &:active {
            outline: none;
        }
    }
    
    .logout-group {
        float: left;
        padding: 10px;
    }
}

.open-nav {
    .nav {
        left: 0;
    }
    
    .menu-overlay {
        display: block;
    }
}

.large-nav {
	width: 100%;
	display: none;
    
	&__link {
		color: $color-focus-white;	
		background: none;
		border: 0;
		padding: 4px 10px;
		text-decoration: none;
		font-size: 1.2em;
        
		&:hover {
			text-decoration: underline;
		}	
	}
    
    @media (min-width: $nav-break) {
        display: inline;
    }
}